*{
    padding: 0;
    margin: 0;
    outline: none;
}
.title{
    width: 100%;
    text-align: center;
    font-size: 3rem;
    margin: 2rem 0 2rem 0;
}
body{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 3rem;
}
.area{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 80%;
    background-color: teal;
    border-radius: 10px;
    color: snow;
}
.area-title{
    width: 100%;
    text-align: center;
    font-size: 2rem;
}
#nickname{
    width: 300px;
    height: 30px;
    border-radius: 8px;
}
#content{
    font-size: 4px;
    border-radius: 8px;
}
#submit{
    background-color: snow;
    color: black;
    border: none;
    width: 300px;
    height: 40px;
    margin-top: 1rem;
    margin-bottom: 1rem;
    cursor: pointer;
    border-radius: 10px;
    font-size: 1.3rem;
}
.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 3rem;
}
.message{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: teal;
    border-radius: 10px;
    color: snow;
    margin-top: 1rem;
    cursor: pointer;
}
.message-nickname{
    font-size: 3rem;
}
.message-content{
    font-size: 2rem;
}
.message-time{
    font-size: 1.2rem;
    align-self: flex-end;
    margin-right: 2rem;
}
.shadow{
    box-shadow: 1px 5px 3px rgba(0, 0, 0, 0.3);
}
.tip{
    font-size: 3rem;
    text-align: center;
    padding: 3rem;
}